:rot{
    --blue:#6bc2f1 ;
}
header{
    background:url(../img/bgheader.jpg) center/cover;
}
.bgnav{background-color: rgba(255, 255, 255, .8);}
.bglightblue{
    background-color: #6bc2f1!important;
}
.txt-blue1{color:#6bc2f1;}
.small-font{font-size: .7em;}
#img1{background:url(../img/img1.jpg)center/cover;}
#img2{background:url(../img/img2.jpg)center/cover;}
.vh-50{height: 50vh;}
.fon{background-color:rgba(107, 194, 241, .6);opacity: 0;transition: all .2s linear;}

#img1:hover .fon,#img2:hover .fon {
    opacity: 1;
}
#portfolio{background-color:#f1f1f1;}
#features img{height: 67px; }
#gallery1{background: url(../img/gallery1.jpg) center/cover; min-height: 300px; width: 100%}
#gallery2{background: url(../img/gallery2.jpg) center/cover;min-height: 300px; width: 100%;}
#gallery3{background: url(../img/gallery3.jpg) center/cover;min-height: 300px; width: 100%}
#gallery4{background: url(../img/gallery4.jpg) center/cover;min-height: 300px; width: 100%}
#gallery5{background: url(../img/gallery5.jpg) center/cover;min-height: 300px; width: 100%}
#gallery6{background: url(../img/gallery6.jpg) center/cover;min-height: 300px; width: 100%}
#grid-d{grid-template-columns: 1fr 1fr 1fr;}
#blog{background-color: #6bc2f1; }
.carousel{display: flex; flex-direction: column-reverse;padding: 80px 0; }
.carousel-indicators{position: inherit!important;}
.carousel-indicators{bottom: 10px!important; margin: 0;}
.carousel-caption{position: static!important;}
.carousel-item > p{height: 120px!important; display: inline-block!important;}
.carousel-indicators div{
    width: 45px; height: 45px;  border-radius: 50%; cursor: pointer; margin:0 5px;
}
#corusel1{background: url(../img/corusel1.jpg) center;}
#corusel2{background: url(../img/corusel2.jpg) center;}
#corusel3{background: url(../img/corusel3.jpg) center;}
#corusel4{background: url(../img/corusel4.jpg) center;}
#corusel5{background: url(../img/corusel5.jpg) center;}
.carousel-indicators  .active{
    transform: scale(1.4);transition:transform .2s linear;
}
#carouselExampleCaptions > a:first-child{
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
#carouselExampleCaptions > a:last-child{
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
input, textarea{
    border:1px solid #e5e5e5;
}
textarea{
    resize: none;
}
button{
    border-color: #6bc2f1!important;
}
footer{
    background: #072035;
    padding: 120px 0;
}
footer p,address{
    color: #b5bdc3;
}

@media only screen and (max-width:767px){
    #grid-d{grid-template-columns: 1fr;}
    .carousel-item > p{height: 220px!important; display: inline-block!important;}
    .carousel-indicators div{
        width: 40px; height: 40px;  border-radius: 50%; cursor: pointer; margin:0 5px;
    }
}